<h3>請登入你的帳號密碼</h3>

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div>
        <label for="account">
            帳號
        </label>
        <input id="account" type="text" formControlName="account">
    </div>

    <div>
        <label for="password">
            密碼
        </label>
        <input id="password" type="text" formControlName="password">
    </div>

    <button class="button" type="submit">登入</button>

</form> -->
<label>
    Name:
    <input type="text" [formControl]="name">
</label>